<!DOCTYPE html>
<html>
<head>
  <title>NewsFeed</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/font.css">
  <link rel="stylesheet" type="text/css" href="css/li-scroller.css">
  <link rel="stylesheet" type="text/css" href="css/slick.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="/">Home</a></li>
              <li><a href="/contact">Contact</a></li>
              <% if (!session.user) { %>
                <li><a href="/login">Đăng nhập</a></li>
              <% } else { %>
                <li><a href="/logout">Đăng xuất</a></li>
                <% if (allowedUsers.includes(session.user.username)) { %>
                  <li><a href="/admin/users">Quản lý người dùng</a></li>
                  <li><a href="/admin/categories">Quản lý danh mục</a></li>
                  <li><a href="/admin/posts">Quản lý bài viết</a></li>
                  <li><a href="/admin/subscribers">Danh sách Subscribe</a></li>
                  <li><a href="/admin/contacts"">Danh sách Liên hệ</a></li>
                <% } %>
              <% } %>
            </ul>
          </div>
          <div class="header_top_right">
            <h1 class="welcome-message">Xin chào, <%= session.user ? session.user.username : 'Khách' %>!</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="/" class="logo"><img src="images/logo.jpg" alt=""></a></div>
          <div class="add_banner"><a href="#"><img src="images/addbanner_728x90_V1.jpg" alt=""></a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
          <span class="sr-only">Toggle navigation</span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="/"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <% if (data.lsttitle) { %>
            <% data.lsttitle.forEach((category, index) => { %>
              <li><a href="/category/<%= encodeURIComponent(category.Title) %>"><%= category.Title %></a></li>
            <% }); %>
          <% } else { %>
            <li><a href="#">No Categories</a></li>
          <% } %>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </section>
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          <% if (data.lst && data.lst.length > 0) { %>
            <% data.lst.forEach((article, index) => { %>
              <div class="single_iteam"> 
                <a href="/detail/<%= article.id %>"> 
                  <img src="<%= article.imagePath || 'images/default.jpg' %>" alt="<%= article.Title %>">
                </a>
                <div class="slider_article">
                  <h2><a class="slider_tittle" href="/detail/<%= article.id %>"><%= article.Title %></a></h2>
                </div>
              </div>
            <% }); %>
          <% } else { %>
            <p>No articles available.</p>
          <% } %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest Posts</span></h2>
          <div class="latest_post_container">
            <ul class="latest_postnav">
              <% if (data.lst && data.lst.length > 0) { %>
                <% data.lst.slice(0, 5).forEach(article => { %>
                  <li>
                    <div class="media"> 
                      <a href="/detail/<%= article.id %>" class="media-left"> 
                        <img src="<%= article.imagePath || 'images/default.jpg' %>" alt="<%= article.Title %>">

                      </a>
                      <div class="media-body"> 
                        <a href="/detail/<%= article.id %>" class="catg_title"><%= article.Title %></a> 
                      </div>
                    </div>
                  </li>
                <% }); %>
              <% } else { %>
                <li>No recent posts available.</li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="contentSection">
    <div class="row">
      <!-- Phần Mới Nhất -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="single_post_content">
          <h2><span>Mới nhất</span></h2>
          <ul class="spost_nav">
            <% if (data.latest && data.latest.length > 0) { %>
              <% data.latest.slice(0, 3).forEach((article) => { %>
                <li>
                  <div class="media">
                    <a href="/detail/<%= article.id %>" class="media-left">
                      <img src="<%= article.imagePath || 'images/default.jpg' %>" alt="<%= article.Title %>">
                    </a>
                    <div class="media-body">
                      <a href="/detail/<%= article.id %>" class="catg_title"><%= article.Title %></a>
                      <p><b>Đăng ngày: <%= new Date(article.created_at).toLocaleDateString('vi-VN') %></b></p>
                    </div>
                  </div>
                </li>
              <% }); %>
            <% } else { %>
              <li>Không có bài viết mới.</li>
            <% } %>
          </ul>
        </div>
      </div>
  
      <!-- Phần Xem Nhiều Nhất -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="single_post_content">
          <h2><span>Xem nhiều nhất</span></h2>
          <ul class="spost_nav">
            <% if (data.mostViewed && data.mostViewed.length > 0) { %>
              <% data.mostViewed.slice(0, 3).forEach((article) => { %>
                <li>
                  <div class="media">
                    <a href="/detail/<%= article.id %>" class="media-left">
                      <img src="<%= article.imagePath || 'images/default.jpg' %>" alt="<%= article.Title %>">
                    </a>
                    <div class="media-body">
                      <a href="/detail/<%= article.id %>" class="catg_title"><%= article.Title %></a>
                      <p><b>Lượt xem: <%= article.views %></b></p>
                    </div>
                  </div>
                </li>
              <% }); %>
            <% } else { %>
              <li>Không có bài viết nào.</li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget">
            <h2>Contact</h2>
            <address>
              <p><i class="fa fa-map-marker"></i> <%= footerData.address %></p>
              <p><i class="fa fa-envelope"></i> <%= footerData.email %></p>
              <p>
                <a href="<%= footerData.facebook %>" target="_blank">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
              </p>
              <p>
                <a href="<%= footerData.youtube %>" target="_blank">
                  <i class="fa fa-youtube"></i> YouTube
                </a>
              </p>
            </address>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget">
            <h2>Subscribe</h2>
            <form action="/subscribe" method="POST">
              <div class="input-group">
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">
        Copyright &copy; <%= new Date().getFullYear() %> <a href="/">NewsFeed</a>
      </p>
      <p class="developer">Developed By Wpfreeware</p>
    </div>
  </footer>
</div>
<script src="js/jquery.min.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/slick.min.js"></script> 
<script src="js/jquery.li-scroller.1.0.js"></script> 
<script src="js/jquery.newsTicker.min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/custom.js"></script>
</body>
</html>