<!DOCTYPE html>
<html>
<head>
  <title><%= baiviet.Title %> | Chi tiết bài viết</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/theme.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="container">
  <!-- Header -->
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <ul class="top_nav">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (!session.user) { %>
              <li><a href="/login">Đăng nhập</a></li>
            <% } else { %>
              <li><a href="/logout">Đăng xuất</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </header>

<!-- Breadcrumb -->
<section id="breadcrumb" class="mt-3">
  <ol class="breadcrumb bg-light p-3 rounded">
    <li><a href="/">Home</a></li>
    <li><a href="#">Danh mục: <%= baiviet.categoryName %></a></li>
    <li class="active"><%= baiviet.Title %></li>
  </ol>
</section>

  <!-- Main Content -->
<section id="contentSection">
  <div class="row">
    <!-- Bài viết chi tiết -->
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="single_page">
        <h1 class="post_title"><%= baiviet.Title %></h1>
        <div class="post_meta">
          <span><i class="fa fa-user"></i> Tác giả: <%= baiviet.author || 'Admin' %></span>
          <span><i class="fa fa-calendar"></i> Ngày đăng: <%= new Date(baiviet.created_at).toLocaleDateString('vi-VN') %></span>
        </div>
        <div class="single_page_content">
          <img class="img-fluid img-center mb-4" src="/<%= baiviet.imagePath || 'images/default.jpg' %>" alt="<%= baiviet.Title %>">
          <p class="post_content"><%= baiviet.Content %></p>
        </div>

        <!-- Bài viết liên quan -->
        <div class="related_post mt-5">
          <h2 class="section_title">Bài viết liên quan</h2>
          <ul class="spost_nav">
            <% if (relatedPosts.length > 0) { %>
              <% relatedPosts.forEach(post => { %>
                <li class="related_item">
                  <div class="media">
                    <a class="media-left" href="/detail/<%= post.id %>">
                      <img class="img-thumbnail" src="/<%= post.imagePath || 'images/default.jpg' %>" alt="<%= post.Title %>">
                    </a>
                    <div class="media-body">
                      <a class="catg_title" href="/detail/<%= post.id %>"><%= post.Title %></a>
                    </div>
                  </div>
                </li>
              <% }); %>
            <% } else { %>
              <p>Không có bài viết liên quan.</p>
            <% } %>
          </ul>
        </div>

        <!-- Phần bình luận -->
        <div class="comments_section mt-5">
          <h2 class="section_title">Bình luận</h2>
          <form action="/detail/<%= baiviet.id %>/comment" method="POST" class="mb-4">
            <div class="form-group">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Nhập email của bạn" required>
            </div>
            <div class="form-group">
              <label for="comment" class="form-label">Nội dung</label>
              <textarea id="comment" name="comment" class="form-control" rows="4" placeholder="Nhập nội dung bình luận" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Gửi bình luận</button>
          </form>
          <ul class="comment_list">
            <% if (comments.length > 0) { %>
              <% comments.forEach(comment => { %>
                <li class="comment_item">
                  <strong class="comment_author"><%= comment.email %></strong>:
                  <p class="comment_content"><%= comment.content %></p>
                </li>
              <% }); %>
            <% } else { %>
              <p>Chưa có bình luận nào.</p>
            <% } %>
          </ul>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2 class="section_title"><span>Danh mục</span></h2>
          <ul class="category_list">
            <% categories.forEach(category => { %>
              <li><a href="#" class="category_item"><%= category.Title %></a></li>
            <% }); %>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

  <!-- Footer -->
  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget">
            <h2>Contact</h2>
            <address>
              <p><i class="fa fa-map-marker"></i> <%= footerData.address %></p>
              <p><i class="fa fa-envelope"></i> <%= footerData.email %></p>
              <p>
                <a href="<%= footerData.facebook %>" target="_blank">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
              </p>
              <p>
                <a href="<%= footerData.youtube %>" target="_blank">
                  <i class="fa fa-youtube"></i> YouTube
                </a>
              </p>
            </address>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget">
            <h2>Subscribe</h2>
            <form action="/subscribe" method="POST">
              <div class="input-group">
                <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">
        Copyright &copy; <%= new Date().getFullYear() %> <a href="/">NewsFeed</a>
      </p>
      <p class="developer">Developed By Wpfreeware</p>
    </div>
  </footer>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/custom.js"></script>
</body>
</html>